.news_carousel .news_item:before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.news_carousel .owl-item {
    height: auto;
}

.news_carousel .news_item a img {
    height: 100%;
    object-fit: cover;
}
